{% extends 'base.html' %}
{% load hitcount_tags %}
{% load extras %}
{% load static %}
{% block content %}
<div class="container">
<h1>Post</h1>
</div>
<ul style="list-style-type: none;">
	<section>
	<div class="container-fluid">
		<div class="container">
			<div class="row">
{% for post in object_list %}
<li>
				<div class="col-sm">
					<div class="card">
						<div class="card-img-top">
							<img src="{% static 'blog/images/2.jpg' %}" class="img-responsive">
						</div>
						<div class="news-content">
							<span class="categories">Tag</span>
							<div class="post-meta">
								<span class="author">
									<small><i class="fa fa-user" aria-hidden="true"></i> <b>{{ post.author.first_name}} {{ post.author.last_name}}</b></small>
								</span>
								<span class="time">
									<small><i class="fa fa-clock-o" aria-hidden="true"></i> <b>{{ post.post_date|date }}</b></small>
								</span>
								<span class="read pull-right">
									<small><i class="fa fa-book" aria-hidden="true"></i> <b>{{ post.body|readtime }}</b></small>
								</span>
								<!-- <span class="views pull-right">
									<a href="#"><small><i class="fa fa-eye" aria-hidden="true"></i> <b>{% get_hit_count for post %}</b></small></a>
								</span> -->
								<div class="clearfix"></div>
							</div>
							<a href="{% url 'post_details' post.pk %}">
							<h4 class="post-header">{{ post.title }}</h4>
							</a>
							<p>
								{{ post.body|striptags|truncatewords:20}} <a href="{% url 'post_details' post.pk %}">Read more</a> 
							</p>
						</div>
					</div>
				</div>
<!-- <a href="{% url 'post_details' post.pk %}">{{ post.title }}</a> - <small>{{ post.author.first_name}} {{ post.author.last_name}} | {{ post.post_date }} IST | Views: {% get_hit_count for post %} | {{ post.body|readtime }}</small><br>{{ post.body|safe|truncatewords:30}} <a href="{% url 'post_details' post.pk %}">Read more</a>  -->
<br><br>
</li>
<!-- <br/><br/> -->
{% endfor %}
</div>
		</div>
	</div>
</section>
</ul>
<div class="row">
<div class="col-sm-2">
<div class="panel panel-default">
<div class="panel-heading">Categories</div>
<div class="panel-body">
	<ul>
		{% for tag in tags %}
		<li><a href="{% url 'tagged' tag.slug %}">{{ tag.name }}</a></li>
		{% empty %}
		<li>No Tags</li>
		{% endfor %}
	</ul>
</div>
</div>
</div>
</div>
<h3>Popular Posts</h3>
<ul style="list-style-type: none;">
{% for p in popular_posts %}
<li>
<a href="{% url 'post_details' post.pk %}">{{ p.title }}</a> - <small>{{ p.author.first_name}} {{ p.author.last_name}} | {{ p.post_date }} IST | Views: {% get_hit_count for p %} | {{ p.body|readtime }}</small><br>{{ p.body|safe|truncatewords:30}} <a href="{% url 'post_details' post.pk %}">Read more</a> </li>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
<small><a href="{% url 'delete_post' post.pk %}">Delete</a></small>
{% endif %}
{% endif %}
<br/><br/>
{% endfor %}
</ul>
{% endblock %}