{% extends 'base.html' %}
{% block content %}
<h1>Post</h1>
<ul style="list-style-type: none;">
{% for post in post_liked %}

<div class="jumbotron">
<li>
<a href="{% url 'post_details' post.pk %}">{{ post.title }}</a> - <small>{{ post.author.first_name}} {{ post.author.last_name}} | {{ post.post_date }} IST</small><br>{{ post.body|safe|truncatewords:30}} <a href="{% url 'post_details' post.pk %}">Read more</a> </li>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<small><a href="{% url 'update_post' post.pk %}">Edit</a></small>
<small><a href="{% url 'delete_post' post.pk %}">Delete</a></small></div>
{% endif %}
{% endif %}
<br/><br/>
{% endfor %}
</ul>
{% endfor %}
{% endblock %}