{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load extras %}
{% load hitcount_tags %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }} {{ post.author.last_name }} <br>Published on: {{ post.post_date}} IST</small><br>
{% if post.update_date == None %}
{% else %}
<small>Last Updated {{ post.update_date | naturaltime }}</small>
{% endif %}
<br>
<small>Views: {% get_hit_count for post %}</small><br>
<small>This Post is a {{ post.body|readtime }}</small>
<hr>
<br/>
{% if post.header_image %}
{{ post.header_image.url }}
<img src="{{ post.header_image.url }}">
{% endif %}
{{ post.body|safe }}
<br/>
<br/>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>
{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
<br/><br/>
<hr>
<br/>
{% endif %}
<form action="{% url 'like_post' post.pk %}" method="POST">
	{% csrf_token %}
	{% if user.is_authenticated %}
	{% if liked %}
	<button type="submit", name="post_id", value="{{ post.id }}">
		unlike
	</button><small>->{{ total_likes }}</small>
	{% else %}
	<span>liked!</span>
	<button type="submit", name="post_id", value="{{ post.id }}">
		like
	</button><small>->{{ total_likes }}</small>
	{% endif %}
	{% else %}
	<small><a href="{% url 'login' %}">login</a> to like</small>
	{% endif %}
  <!--<i class="far fa-heart"></i>
  <i class="fas fa-heart"></i>-->
</form> 
 <br><br>
 <p>Liked by:</p>
{% for u in post.likes.all %}
<a href="{% url 'profile_page' u.profile.id %}">{{ u }}</a><br>
{% endfor %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
    	{% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="..." width="200" height="200">
      {% else %}
       <img src="{% static 'blog/images/no_profile_pic.jpg' %}" class="card-img" alt="..."width="200" height="200">
      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }} </h5>
        <p class="small text-muted">
          <a href="{% url 'profile_page' post.author.profile.id %}">Profile Page</a> |
        	{% if post.author.profile.your_website %}
        	<a href="{{ post.author.profile.your_website }}">Website</a> |
        	{% endif %}

        	{% if post.author.profile.linkedin %}
        	<a href="{{ post.author.profile.linkedin }}">Linkedin</a> |
        	{% endif %}

        	{% if post.author.profile.twitter %}
        	<a href="{{ post.author.profile.twitter }}">Twitter</a> |
        	{% endif %}

        	{% if post.author.profile.fb %}
        	<a href="{{ post.author.profile.fb }}">Facebook</a> |
        	{% endif %}

        	{% if post.author.profile.insta %}
        	<a href="{{ post.author.profile.insta }}">Instagram</a> |
        	{% endif %}

        </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h3>Comments</h3>
  <small>Total comments: {{ comments.count }}</small>
    {% if user.is_authenticated %}
  <div class="form-group">
<form method="POST" action="{% url 'post_comment' post.pk %}">
  {% csrf_token %}
  <textarea  rows="6" cols="100" name="comment" placeholder="Enter your comment..."></textarea>
  <input type="hidden" name="postSno" value="{{ post.id }}">
  <input type="submit" name="Submit" class="btn btn-sm btn-primary" value="Comment">
</form>
</div>
{% else %}
Login to Comment
{% endif %}
{% for comment in comments %}
  <div class="row my-3">
    <div class="col-md-1">{% if comment.user.profile.profile_pic %}
      <img src="{{ comment.user.profile.profile_pic.url }}" class="img-thumbnail rounded-circle" alt="..." >
      {% else %}
       <img src="{% static 'blog/images/no_profile_pic.jpg' %}" class="img-thumbnail rounded-circle" alt="...">
      {% endif %}</div>
    <div class="col-md-11"><b>{{ comment.user.username }}</b> <small>{{ comment.timestamp | naturaltime }}</small><br>{{ comment.comment }}
    <div class="reply mx-0">
  <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#replyBox{{ comment.sno }}" aria-expanded="false" aria-controls="replyBox{{ comment.sno }}">
    Reply
  </button>
</div>
<div class="collapse" id="replyBox{{ comment.sno }}">
  <div class="card card-body my-2">
    <div class="form-group">
<form method="POST" action="{% url 'post_comment' post.pk %}">
  {% csrf_token %}
  <textarea  rows="4" cols="70" name="comment" style="border:solid 1px;" placeholder="Enter your comment..."></textarea>
  <input type="hidden" name="parentSno" value="{{ comment.sno }}">
  <input type="hidden" name="postSno" value="{{ post.id }}">
  <input type="submit" name="Submit" class="btn btn-sm btn-primary" value="Comment">
</form>
</div>
</div>
</div>
<div class="replies my-2">
  {% for reply in replyDict|get_val:comment.sno %}
  <div class="row my-2">
    <div class="col-md-1">{% if reply.user.profile.profile_pic %}
      <img src="{{ reply.user.profile.profile_pic.url }}" class="img-thumbnail rounded-circle w-75" alt="..." >
      {% else %}
       <img src="{% static 'blog/images/no_profile_pic.jpg' %}" class="img-thumbnail rounded-circle w-75" alt="...">
      {% endif %}</div>
    <div class="col-md-11"><b>{{ reply.user.username }}</b> <small>{{ reply.timestamp | naturaltime }}</small><br>{{ reply.comment }}
    </div>
  <br>
</div>
  {% endfor %}
</div>
</div>
</div>
{% endfor %}
</div>
{% endblock %}