{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load extras %}
{% load hitcount_tags %}
{% block title %}
{{ post.title }}
{% endblock %}
{% block content %}
<div class="container">
<h1>{{ post.title }}</h1>
<small><i class="fa fa-pencil" aria-hidden="true"></i> {{ post.author.first_name }} {{ post.author.last_name }} <br>
<i class="fa fa-clock-o" aria-hidden="true"></i> {{ post.post_date}} IST</small>
{% if post.update_date == None %}
{% else %}
<small> <i class="fa fa-wrench" aria-hidden="true"></i> {{ post.update_date | naturaltime }}</small>
{% endif %}
<br>
<small><i class="fa fa-eye" aria-hidden="true"></i> {% get_hit_count for post %}</small><br>
<small><i class="fa fa-book" aria-hidden="true"></i> {{ post.body|readtime }}</small>
<hr>
<br/>
{% if post.header_image %}
{{ post.header_image.url }}
<img src="{{ post.header_image.url }}">
{% endif %}
{{ post.body|safe }}
<br/>
<br/>
{% if user.is_authenticated %}
{% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}" class="btn btn-secondary">Edit</a>
<a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary">Delete</a>
{% endif %}
<a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
<br/><br/>
<hr>
<br/>
{% endif %}
<form action="{% url 'like_post' post.pk %}" method="POST">
	{% csrf_token %}
	{% if user.is_authenticated %}
	{% if liked %}
	<button type="submit", name="post_id", value="{{ post.id }}">
		unlike
	</button><small>->{{ total_likes }}</small>
	{% else %}
	<span>liked!</span>
	<button type="submit", name="post_id", value="{{ post.id }}">
		like
	</button><small>->{{ total_likes }}</small>
	{% endif %}
	{% else %}
	<small><a href="{% url 'login' %}">login</a> to like</small>
	{% endif %}
  <!--<i class="far fa-heart"></i>
  <i class="fas fa-heart"></i>-->
</form> 
<form action="{% url 'save_post' post.pk %}" method="POST">
  {% csrf_token %}
  {% if user.is_authenticated %}
  {% if saved %}
  <button type="submit", name="post_id", value="{{ post.id }}">
    unsave
  </button>
  {% else %}
  <span>Saved!</span>
  <button type="submit", name="post_id", value="{{ post.id }}">
    save
  </button>
  {% endif %}
  {% else %}
  <small><a href="{% url 'login' %}">login</a> to save</small>
  {% endif %}
</form> 
 <br><br>
 <p>Liked by:</p>
{% for u in post.likes.all %}
<a href="{% url 'profile_page' u.profile.id %}">{{ u }}</a><br>
{% endfor %}
<div class="card mb-3">
  <div class="row no-gutters">
    <div class="col-md-2">
    	{% if post.author.profile.profile_pic %}
      <img src="{{ post.author.profile.profile_pic.url }}" class="card-img" alt="..." width="200" height="200">
      {% else %}
       <img src="{% static 'blog/images/no_profile_pic.jpg' %}" class="card-img" alt="..."width="200" height="200">
      {% endif %}
    </div>
    <div class="col-md-10">
      <div class="card-body">
        <h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }} </h5>
        <p class="small text-muted">
          <a href="{% url 'profile_page' post.author.profile.id %}">Profile Page</a> |
        	{% if post.author.profile.your_website %}
        	<a href="{{ post.author.profile.your_website }}">Website</a> |
        	{% endif %}

        	{% if post.author.profile.linkedin %}
        	<a href="{{ post.author.profile.linkedin }}">Linkedin</a> |
        	{% endif %}

        	{% if post.author.profile.twitter %}
        	<a href="{{ post.author.profile.twitter }}">Twitter</a> |
        	{% endif %}

        	{% if post.author.profile.fb %}
        	<a href="{{ post.author.profile.fb }}">Facebook</a> |
        	{% endif %}

        	{% if post.author.profile.insta %}
        	<a href="{{ post.author.profile.insta }}">Instagram</a> |
        	{% endif %}

        </p>
        <p class="card-text">{{ post.author.profile.bio }}</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
 <div class="col-md-7">

              {% load mptt_tags %}
              <div>
                {% recursetree comments %}
                <div id="{{ node.id }}"> <b>{{ node.user.first_name }} {{ node.user.last_name }}</b> <small>{{ node.timestamp|naturaltime }}</small><br>{{ node.comment }}<br>
 </div>
  <form action="{% url 'comment_like' node.id %}" method="POST">
  {% csrf_token %}
  {% if user.is_authenticated %}
  {% if liked %}
  <button type="submit", name="commentt_id", value="{{ node.id }}">
    thumb down
  </button><small>->{{ node.likes.count }}</small>
  {% else %}
  <button type="submit", name="commentt_id", value="{{ node.id }}">
    thumbs up
  </button><small>->{{ node.likes.count }}</small>
  {% endif %}
  {% else %}
  <small><a href="{% url 'login' %}">login</a> to like</small>
  {% endif %}
</form> 
                <button class="button" onclick="myFunction( {{ node.id }} )">Reply</button>
                <hr>

                {% if not node.is_leaf_node %}
                <div class="children pl-2 pl-md-5">
                  {{ children }}
                </div>
                {% endif %}
                {% endrecursetree %}
              </div>
                <h2>Make a new comment</h2>

              <div class="form-group">
              <form method="POST" id="myForm"> <!-- action="{% url 'post_details' post.pk %}"> --> 
                {{ comment_form.as_p }}
                {% csrf_token %}
                <button class="btn btn-secondary">
                  Submit
                </button>
              </form>
              </div>

          </div>
        </div>
      </div>
    </div>
  <br>
</div>

</div>
</div>
</div>

</div>
<script>
  function formExit() {
    document.getElementById("newForm").remove();
  }

  function myFunction(id) {
    if (document.contains(document.getElementById("newForm"))) {
      document.getElementById("newForm").remove();
    }

    var d1 = document.getElementById(id);
    d1.insertAdjacentHTML('afterend',
      '<form id="newForm" class="form-insert py-2" method="post"> \
      {% csrf_token %} \
      <div class="d-flex justify-content-between"><h2>Reply:</h2><div><button type="button" class="btn btn-outline-secondary" onclick="formExit()"">Close</button></div></div> \
      <label for="id_comment">Content:</label> \
      <textarea name="comment" cols="40" rows="5" class="form-control" required id="id_content"></textarea> \<select name="parent" class="d-none" id="parent"> \
      <option value="' + id + '" selected="' + id + '"></option> </select> \
      <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button> \
      </form>');

    //document.querySelector('#id_parentt [value="' + id + '"]').selected = true;
  }

  $('#myForm').trigger("reset");
</script>
<!-- <script>
  function myFunction(id){
    var a = document.getElementById(id);
    a.insertAdjacentHTML('afterend', 
      "<form method="POST" id="myForm">\
      <p> <select name="parent" class="d-none" id="id_parentt">\
      <option value="' + id + '" selected="' + id + '"></option>\
      </select></p>\
      <p><label for="id_comment">Comment:</label> <textarea name="comment" cols="40" rows="10" class="form-control" required="" id="id_comment"></textarea></p>\
      {% csrf_token %}\
      <button class="btn btn-secondary">Submit</button>\
      </form>");
  }
</script> -->
</div>
{% endblock %}