body {
  margin:0;
  padding: 0;
  text-align:justify;
  font-family:'open sans',sans-serif;
  background:#ddd;
  height:100%;
}

/*div {
  height:100px;
  margin:0 auto;
  position: relative;
}*/

/*i {
  cursor:pointer;
  padding:10px 12px 8px;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s;
}

i:hover {
  color:#666;
}

i:before {
  font-family:fontawesome;
  content:'\f004';
  font-style:normal;
}*/


/*i.press {
  animation: size .4s;
  color:#e23b3b;
}
*/
/*span.press {
  bottom:120px;
  font-size:14px;
  visibility:visible;
  animation: fade 1s;
}*/

@keyframes fade {
  0% {color:#transparent;}
  50% {color:#e23b3b;}
  100% {color:#transparent;}
}

@keyframes size {
  0% {padding:10px 12px 8px;}
  50% {padding:14px 16px 12px;  
    margin-top:-4px;}
  100% {padding:10px 12px 8px;}
}

textarea {
  border:none;
}

.my {

    background: transparent;
    /*border: none !important;*/
    font-size:0;
    width: 0px;
    border-width: 1px;
}*/

/*.bootstrap-tagsinput {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    display: block;
    padding: 4px 6px;
    color: #555;
    vertical-align: middle;
    border-radius: 4px;
    max-width: 100%;
    line-height: 22px;
    cursor: text;
}
.bootstrap-tagsinput input {
    border: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    padding: 0 6px;
    margin: 0;
    width: auto;
    max-width: inherit;
}*/
.bootstrap-tagsinput{
  width: 100%;
}

.label-info{
background-color: #17a2b8;
}

.label{
display: inline-block;
padding: .25em .4em;
font-size: 75%;
font-weight: 700;
line-height: 1;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25rem;
transition: color .15s ease-in-out,background-color .15s ease-in-out,
border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

section{
  padding: 150px 0 0;
}
.card{
  position: relative;
  height: 450px;
  width: 350px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}
.card .card-img-top{
  height: 350px;
  overflow: hidden;
}
.card .card-img-top img{
  transition: .5s;
}
.card:hover .card-img-top img{
  transform: scale(1.2) translateY(-50px);
}
.img-responsive{
  width: 100%;
  height: 400px;
}
.card .news-content{
  position: absolute;
  bottom: -120px;
  height: 250px;
  padding: 20px 10px;
  background: #fff;
  transition: .5s; 
}
.card:hover .news-content{
  position: absolute;
  bottom: 0;
  padding: 20px;
  background: #fff;
  transition: .5s; 
}
.card .news-content .categories{
  position: absolute;
  top: -34px;
  left: 0;
  /*height: 50px;*/
  background: #00b8f4;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  transition: .5s;
}
/*.card .news-content .post-meta{
  margin: 0px 0px;
}*/
.card .news-content .post-meta a{
  text-decoration: none;
  color: grey;
  /*background-color: blue;*/
  margin: 0;
  padding: 10px 0;
  font-weight: bold;
  transition: .5s;
}
/*.card .news-content .post-meta a:hover{
  color: #df084a;

}*/
.card .news-content .post-header{
  /*margin: 0;*/
  padding: 10px 0;
  color: #007da6;
  height: 75px;
  /*background: #ccc;*/
  /*font-size: 27px;*/
  overflow: hidden;

}
.card .news-content p{
  font-size: 16px;
  margin: 10px 0 0;
  padding: 0;
  transition: .5s;
  opacity: 0;
}
.card:hover .news-content p{
  opacity: 1;
}